{% extends "base.html" %}

{%block content%}
    <div class="row"> 
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card complaint-card">
                <div class="card-header card-main-font"> Why complaint here ? </div>
                <div class="card-body">
                    <h5 class="hello-about"> Hey, </h5>
                    <h5 class="content-about">
                        This is Guru, creator of this site. I created this site with the sole intention of bringing all those dark incidents 
                        women or men face in their life to light, there are lot of cases related to sexual harrassments all over the world and
                        we can see people debating over a lot of topics related to this and now and then sexual harrassment cases from academic 
                        insitutions will popup as well, which will be taken special care at that time and media channels will keep it as the burning 
                        topic for few days, but the recent one is not the same : Incident from a well renowed school in Chennai has instigated students
                        of other school students to talk about the sexual harrassment problems that they face as well, for that, here i would like to express 
                        a special thanks to @Kripali, who raised her voice first motivating all others to do as well. Since now its in the spotlight, I could 
                        see a lot of people mostly alumnis from different schools are collecting and gathering info related to these issues to complaint
                        to the school management about those sick bastards who indulge in these kind of activites. I believe this site will act as a medium 
                        for students to share their experiences with complete anonymity, <em>the main reason complete anonymity is maintained here because there
                        are lot of students who still study in the school and they are worried about the problems that they might face if they come out 
                        and complaint about a faculty since they have few years left in the school</em>.So i request all the alumni committies from each school
                        to share this site with their juniors to get in the complaints and at the time, you guys want to complaint to the school management
                        all these data from your school will be rendered in <em>excel sheet</em> and will be shared with you upon request.
                </div>
                <div class="card-footer card-main-font"> 
                    <h4> Feel free to reach out at 9994987315 </h4>
                </div>
            </div>
        </div>
    </div>

        {%endblock content%}