{% extends "base.html" %}

{%block content%}
<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-div">
        <div class="card">
            <div class="card-header card-main-font">Register your complaints here</div>
            <div class="card-body">
                <form id="comp_form" name="comp_form" method="post">
                    <div class="form-group">
                        <lable for="culprit">Culprit Name </label>
                            <input type="text" class="form-control" name="name" id="culprit" placeholder="Name of the Harasser"
                                required>
                    </div>
                    <div class="form-group">
                        <lable for="institution-name"> Is it school or a College ?</label>
                            <input type="text" class="form-control" name="insti" placeholder="School"
                                required>
                    </div>
                    <div class="form-group">
                        <lable for="institution-name"> Name of the Institution </label>
                            <input type="text" class="form-control" name="insti_name" id="institution-name"
                                placeholder="abc international school" required>
                    </div>
                    <div class="form-group">
                        <lable for="institution-name"> Are you a Student, Faculty or a Alumni ?</label>
                            <input type="text" class="form-control" name="desig" placeholder="Student"
                                required>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Describe the Case</label>
                        <textarea class="form-control ins-evi" name="descp" id="exampleFormControlTextarea1" rows="3"
                            placeholder="It can be your direct or indirect experience" required></textarea>
                    </div>
                    <div class="form-group">
                        <lable for="evidence-link"> Evidences </label>
                            <input type="text" class="form-control" name = "evidence" id="institution-name"
                                placeholder="Share a drive link with all the evidences you have">
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" required>
                        <label class="form-check-label" for="inlineCheckbox1">I hearby agree that all the information
                            provided is true upto my knowledge</label>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-danger submit-btn" id="more">Submit</button>
            </div>
        </div>
    </div>
</div>
{%endblock content%}