{% extends "base.html" %}

{%block content%}
<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="card success-card">
            <div class="card-header card-main-font">Success !</div>
            <div class="card-body">
                <h3 class="success"> Your complaint has been registered ! 
                <br> Thanks for reaching out, Necessary action will be taken on your complaint !</h3>
            </div>
        </div>
    </div>
</div>
{%endblock content%}